<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 not found</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <main id="center">
        <h1>404 Page <%=url%> not found</h1>
        <button onclick="window.location = '/'" class="btn">Go to the main page</button>
    </main>
</body>
</html>